/* Login Container */
.login-container {
  margin-top: 10px;
  background-color: rgb(235, 130, 11);
  min-width: 300px;
  min-height: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid rgb(239, 239, 240);

}

/* Logo */
.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(235, 130, 11);

}

.logo-container img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* Log in Form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

/* User Icon */
.user-icon {
  font-size: 50px;
  color: rgb(239, 239, 240);
}

/* Login Form Inputs */
.login-form input {
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 240);
}

/* Log in Button */
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid rgb(239, 239, 240);
}

.login-container button:hover {
  background-color: rgb(109, 53, 0);
  color: white;
  transition: 0.5s;
}

.login-link p {
  color: rgb(239, 239, 240);
  font-size: 14px;
  margin: 10px;
  margin-top: 20px;
}

.login-link p a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #140902;
}

/* underline (hidden initially) */
.login-link p a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #140902;
  transition: width 0.3s ease;
}

/* hover → expand underline */
.login-link p a:hover::after {
  width: 100%;
}